

/** COLORS **/
:root {
    --dark: #201E1F;
    --primary: #0052fe;
    --primary-darkened: #003de5;
    --success: #40cf58;
    --success-darkened: #009a00;
    --danger: #f10000;




    --default-white: #F5F5F5;
    --default-dark-gray: #121212;


}


/* Main style */
.btn{
    border: solid var(--default-dark-gray) 1px;
    background-color: var(--default-white);
}


.btn:active{
    outline-color:#afa7bba8;
}

.btn_primary:active{
    outline-color: rgba(6, 105, 253, 0.493) !important;
}

.btn_secondary:active{
    outline-color: rgba(0, 0, 0, 0.493) !important;
}

.btn_success:active{
    outline-color: rgba(60, 255, 0, 0.493) !important;
}





.btn_primary, .btn_secondary, .btn_success, .btn_danger{
    color:white;
    border:solid 1px;
}

.btn_primary{
    background-color: var(--primary);
    border-color: var(--primary-darkened);
    
}

.btn_secondary{
    background-color: var(--dark);
    border-color:var(--dark);
}

.btn_success{
    background-color: var(--success);
    border-color: var(--success);
}

.btn_danger{
    background-color: var(--danger);
    border-color:  var(--danger);
}

.btn.btn_danger.btn_outlined:hover, .btn_danger.btn_outlined:active{
    background-color: #f34c3238 !important;
}

.btn.btn_outlined:hover, .btn.btn_outlined:active{
    background-color: #b9b9b938 !important;
}

.btn.btn_primary.btn_outlined:hover, .btn_primary.btn_outlined:active{
    background-color: rgba(6, 105, 253, 0.068) !important;
}

.btn.btn_secondary.btn_outlined:hover, .btn_secondary.btn_outlined:active{
    background-color: rgba(0, 0, 0, 0.082) !important;
}

.btn.btn_success.btn_outlined:hover, .btn_success.btn_outlined:active{
    background-color: #3796341a !important;
}


.btn.btn_danger.btn_outlined{
    color:var(--danger);
}

.btn.btn_outlined{
    color:white;
}

.btn.btn_primary.btn_outlined{
    color:var(--primary);

}


.btn.btn_success.btn_outlined{
    color:var(--success)
}
