.btn {
  position: relative;
  padding: 0.65rem 1rem;
  margin: 0 0.2rem;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  filter: brightness(110%);
}

.btn:active {
  filter: brightness(125%);
  outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.199);
  outline-width: 2px;
  
}



/** Button sizes */
.btn_xs,
.btn_sm {
  padding: 0.4rem 0.8rem;
}

.btn_xs {
  font-size: 0.7rem;
}

.btn_sm {
  padding: 0.4rem 0.8rem;
}

.btn_md {
  padding: 0.65rem 1rem;
}

.btn_lg {
  padding: 0.65rem 2rem;
  font-size: 1.2rem;
}

.disabled{
  pointer-events: none;
  filter: grayscale(25%);
  cursor: pointer;
}

/** end - Button sizes */


/** save button **/

.progress__bar{
  z-index: 0;
}

.progress__bar{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: rgba(110, 208, 86, 0.815);
  background-color: rgba(110, 208, 86, 0.815);
  display: block;
  animation: progress 1s ease-in-out;

 
}

.save_button__text{
  z-index: 2;
  position: relative;
}


@keyframes progress{
  from{
    width:0%;
  }to{
    width: 100%;
  }
}




