.btn {
  position: relative;
  padding: 0.65rem 1rem;
  margin: 0 0.2rem;
  user-select: none;
  cursor: pointer;
  display: inline-block;

  overflow:hidden;
}

.btn:hover {
  filter: brightness(110%);
}

.btn:active {
  filter: brightness(125%);
  outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.199);
  outline-width: 2px;
  
}



/** Button sizes */
.btn_xs,
.btn_sm {
  padding: 0.4rem 0.8rem;
}

.btn_xs {
  font-size: 0.7rem;
}

.btn_sm {
  padding: 0.4rem 0.8rem;
}

.btn_md {
  padding: 0.65rem 1rem;
}

.btn_lg {
  padding: 0.65rem 2rem;
  font-size: 1.2rem;
}

.disabled{
  pointer-events: none;
  filter: grayscale(25%);
  cursor: pointer;
}

/** end - Button sizes */


/** Ripple effect **/

.ripple{
  position: absolute;
  border-radius: 50%;
  overflow:hidden;
  pointer-events: none;
}



.btn.btn_outlined{
  background: none;
  color: black;
}












